<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Advert
{% endblock title %}

{% block content %}
    <h2>Тема: {{ advert.subject }}</h2>
    <hr>
    <p>Текст объявления: {{ advert.description|truncatewords:20 }}</p>
    <hr>
    <p>Фото:
        {% for photo in advert.images.photos.all %}
            {% if photo.image %}
                <img src="{{ photo.image.url }}" style="width: 200px;">
            {% endif %}
        {% endfor %}
    </p>
    <hr>
    <p>На сколько дней размещено: {{ advert.date }}</p>
    <p>Фильтр: {{ advert.filters }}</p>
    <p>Цена: {{ advert.price }}</p>
    <p>Дата создания объявления: {{ advert.created }}</p>
    <hr>
{% endblock content %}